/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    .root 
    {
    -tab-text-color: -fx-text-base-color ;
    }

   .tab-label 
   {
     -fx-text-fill: -tab-text-color ;
   }
   
   #btnAgendaClientes{-fx-background-color: #009999;}
   
   #btnOrdenTrabajo{-fx-background-color: #009999;}
   
   #btnCompras{-fx-background-color: #009999;}
   
   #btnAticulos{-fx-background-color: #009999;}
   
   #btnFactura{-fx-background-color: #009999;}
   
   #btnConfiguraciones{-fx-background-color: #009999;}
   
   
 
}
